h1{
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    color: #000;
    padding-top: 3em;
}
h2{
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
h4{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    color: #000;
}
.btn a{
    background: #e91e63;
    color: #fff;
    display: inline-block;
    padding: 20px 30px;
    font-size: 15px;
    margin-top: 10px;
    font-family: poppins;
}

/* causes */
.causes{
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background: #fdf1f3;
    transition: all 300ms linear 0s;
}
.causes:hover{
    box-shadow: 0px 20px 30px rgba(153, 153, 153, 0.2);
}
.causes h4{
    margin-bottom: 30px;
}
.causes img{
    margin-bottom: 30px;
}