*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000;
    font-size: 18px;
}
.main-header{
    width: 100vw;
    height: 150px;
    background-color: pink;
}
.header-upper{
    height: 50px;
    border-bottom: 1px solid gray;
    background-color: rgb(224, 161, 172);
}
.upper-ul{
    display: flex;
    
}
.upper-ul .row{
    list-style-type: none;
    flex-direction: row;
    font-weight: bold;
    }


.nav-list .row{
    float: left;
    width: 150px;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row #title{
    flex: 50%;
}