*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000;
    font-size: 18px;
}
.main-header{
    width: 100vw;
    height: 150px;
    background-color: pink;
}
.header-upper{
    height: 50px;
    border-bottom: 1px solid gray;
    background-color: rgb(224, 161, 172);
}
.upper-ul{
    display: flex;
    margin-left: 60px;
}
.upper-ul .row{
    list-style-type: none;
    flex-direction: row;
    padding: 15px;
    font-weight: bold;
    }
.nav-list{
    display: flex;
    
}
.nav-list .row{
    float: left;
    width: 150px;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row #icon{
 flex: 5%;
 display: grid;
 place-items: centre;
}
.row #title{
    flex: 50%;
}